<a href="https://colab.research.google.com/github/mukul96/NLP_work/blob/master/sentimental_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import files
uploaded = files.upload()

Saving test_tweets_anuFYb8.csv to test_tweets_anuFYb8.csv
Saving train_E6oV3lV.csv to train_E6oV3lV.csv

In [0]:
#Let’s load the libraries which will used in this course.

import re    # for regular expressions 
import nltk  # for text manipulation 
import string 
import warnings 
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt  
import io

pd.set_option("display.max_colwidth", 200) 
warnings.filterwarnings("ignore", category=DeprecationWarning) 

%matplotlib inline
#Let’s read train and test datasets. Download data from here.

train  = pd.read_csv(io.BytesIO(uploaded['train_E6oV3lV.csv'])) 
test = pd.read_csv(io.BytesIO(uploaded['test_tweets_anuFYb8.csv']))

In [9]:
combi = train.append(test, ignore_index=True) 
combi.shape

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(49159, 3)

In [0]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt

In [11]:
combi['tidy_tweet'] = np.vectorize(remove_pattern)(combi['tweet'], "@[\w]*") 
combi.head()

   id  ...                                                                                                        tidy_tweet
0   1  ...                   when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2  ...    thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3  ...                                                                                               bihday your majesty
3   4  ...                            #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5  ...                                                                            factsguide: society now    #motivation

[5 rows x 4 columns]

In [12]:
combi['tidy_tweet'] = combi['tidy_tweet'].str.replace("[^a-zA-Z#]", " ") 
combi.head(10)

   id  ...                                                                                                                                       tidy_tweet
0   1  ...                                                  when a father is dysfunctional and is so selfish he drags his kids into his dysfunction    #run
1   2  ...                                   thanks for #lyft credit i can t use cause they don t offer wheelchair vans in pdx     #disapointed #getthanked
2   3  ...                                                                                                                              bihday your majesty
3   4  ...                                                           #model   i love u take with u all the time in ur
4   5  ...                                                                                                           factsguide  society now    #motivation
5   6  ...                                   huge fan fare and big talking before they leave  chaos and pay disputes when they get there  #allshowandnogo
6   7  ...                                                                                                                 camping tomorrow        danny
7   8  ...  the next school year is the year for exams      can t think about that      #school #exams   #hate #imagine #actorslife #revolutionschool #girl
8   9  ...                                                          we won    love the land    #allin #cavs #champions #cleveland #clevelandcavaliers
9  10  ...                                                                                                            welcome here    i m   it s so #gr

[10 rows x 4 columns]

In [0]:
combi['tidy_tweet'] = combi['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [14]:
tokenized_tweet = combi['tidy_tweet'].apply(lambda x: x.split()) # tokenizing 
tokenized_tweet.head()

0                [when, father, dysfunctional, selfish, drags, kids, into, dysfunction, #run]
1    [thanks, #lyft, credit, cause, they, offer, wheelchair, vans, #disapointed, #getthanked]
2                                                                     [bihday, your, majesty]
3                                                            [#model, love, take, with, time]
4                                                          [factsguide, society, #motivation]
Name: tidy_tweet, dtype: object

In [0]:
from nltk.stem.porter import * 
stemmer = PorterStemmer() 
tokenized_tweet = tokenized_tweet.apply(lambda x: [stemmer.stem(i) for i in x]) # stemming
for i in range(len(tokenized_tweet)):
    tokenized_tweet[i] = ' '.join(tokenized_tweet[i])    
combi['tidy_tweet'] = tokenized_tweet

In [16]:
all_words = ' '.join([text for text in combi['tidy_tweet']]) from wordcloud import WordCloud wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=110).generate(all_words) 
plt.figure(figsize=(10, 7)) plt.imshow(wordcloud, interpolation="bilinear") plt.axis('off') plt.show()

SyntaxError: ignored

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer 
import gensim

In [18]:
bow_vectorizer = CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english') 
bow = bow_vectorizer.fit_transform(combi['tidy_tweet']) 
bow.shape

(49159, 1000)

In [19]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english') 
tfidf = tfidf_vectorizer.fit_transform(combi['tidy_tweet']) 
tfidf.shape

(49159, 1000)

In [20]:
print(tfidf)

  (0, 738)	0.6577413621857342
  (0, 463)	0.5896490179849546
  (0, 302)	0.46871135687055143
  (1, 600)	0.6835218920644196
  (1, 131)	0.6145629375807904
  (1, 879)	0.3938403468675415
  (2, 79)	1.0
  (3, 888)	0.5572995329862621
  (3, 518)	0.44016705593507854
  (3, 557)	0.7040384885805177
  (4, 566)	1.0
  (5, 485)	0.4652198168550412
  (5, 69)	0.4637175931713698
  (5, 858)	0.4743403266916206
  (5, 423)	0.586120951905663
  (6, 894)	0.5868769751051355
  (6, 121)	0.809676118019697
  (7, 353)	0.19785820398515808
  (7, 432)	0.298367397816037
  (7, 393)	0.22953868678391207
  (7, 883)	0.20713435439054187
  (7, 283)	0.6221668428341786
  (7, 992)	0.40382612331421974
  (7, 749)	0.47546741144240784
  (8, 132)	0.689689021511751
  :	:
  (49154, 728)	0.293909942896328
  (49155, 246)	0.6332778044821932
  (49155, 961)	0.532509130693973
  (49155, 307)	0.412937926376108
  (49155, 498)	0.38062516605968433
  (49156, 122)	0.3818217223390089
  (49156, 411)	0.37375293461862846
  (49156, 929)	0.30556509026170586
  (49156, 980)	0.6240024256535749
  (49156, 605)	0.36246533968129546
  (49156, 498)	0.22464038972727007
  (49156, 891)	0.2234444840195207
  (49157, 612)	0.28633353112088705
  (49157, 226)	0.2885783331487672
  (49157, 198)	0.2857904374564014
  (49157, 480)	0.2839426362374063
  (49157, 553)	0.5875687747554394
  (49157, 728)	0.22693131002604014
  (49157, 175)	0.28317474707292145
  (49157, 981)	0.41188566266333626
  (49157, 389)	0.1608211390109581
  (49158, 356)	0.5322541368147695
  (49158, 243)	0.5708460876962105
  (49158, 799)	0.4638718109293377
  (49158, 333)	0.41912196438582383

In [0]:
tokenized_tweet = combi['tidy_tweet'].apply(lambda x: x.split()) # tokenizing 
model_w2v = gensim.models.Word2Vec(
            tokenized_tweet,
            size=200, # desired no. of features/independent variables
            window=5, # context window size
            min_count=2,
            sg = 1, # 1 for skip-gram model
            hs = 0,
            negative = 10, # for negative sampling
            workers= 2, # no.of cores
            seed = 34)

In [22]:
model_w2v.train(tokenized_tweet, total_examples= len(combi['tidy_tweet']), epochs=20)

(6510028, 7536020)

In [23]:
model_w2v.wv.most_similar(positive="dinner")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('spaghetti', 0.5549569129943848),
 ('#avocado', 0.545421838760376),
 ('melani', 0.5444273948669434),
 ('noodl', 0.5425468683242798),
 ('gown', 0.5391991138458252),
 ('#biall', 0.5378047823905945),
 ('#bihdaydinn', 0.5365810394287109),
 ('#cellar', 0.5365810394287109),
 ('#foodcoma', 0.5358535051345825),
 ('cookout', 0.5335652828216553)]

In [24]:
model_w2v.wv.most_similar(positive="trump")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('donald', 0.5549051761627197),
 ('phoni', 0.5313272476196289),
 ('#delegaterevolt', 0.524053692817688),
 ('endors', 0.5210991501808167),
 ('unfit', 0.5204030275344849),
 ('unstabl', 0.5146311521530151),
 ('melo', 0.5138930082321167),
 ('tomlin', 0.5117690563201904),
 ('jibe', 0.5102404356002808),
 ('potu', 0.5069791078567505)]

In [33]:
def word_vector(tokens, size):
  vec = np.zeros(size).reshape((1, size))
  count = 0.
  for word in tokens:
    try:
      vec += model_w2v[word].reshape((1, size))
      count += 1.
    except KeyError: # handling the case where the token is not in vocabulary                                     continue
  #if count!= 0:
    #vec /= count
  return vec

IndentationError: ignored

In [36]:
wordvec_arrays = np.zeros((len(tokenized_tweet), 200)) 
for i in range(len(tokenized_tweet)):
    wordvec_arrays[i,:] = word_vector(tokenized_tweet[i], 200)
    wordvec_df = pd.DataFrame(wordvec_arrays) 
wordvec_df.shape

NameError: ignored